.list-container {
    padding: 20px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px; /* 👈 MÁS ESPACIO ENTRE TARJETAS */
    padding: 20px;
    justify-items: center; /* 👈 centra las cards */
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 8px;
    border: none;
    background-color: #3b4cca;
    color: white;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }